<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/30222b3036.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/detail.css">
    <title>My shows list</title>
</head>
<body>
    <header class="mb-5">
        <%- include('./templates/navigation.ejs') %> 
    </header>


    <main class="bg d-flex p-sm-5 flex-column align-items-center">

        <div class="title-container row p-2 mb-3">
            <h2><%= details.title || details.name || details.original_title%> </h2>
        </div>

        <div class="show-info-container row d-flex justify-content-center gap-3">
            <div class="show-poster col-1 g-0 bg-danger">
                <img src="<%= `${posterPathUrl}/${details.poster_path}` %>" alt="">
            </div>

            <div class="col">

                <div class="row mb-3">
                    <div class="major-info-container p-3 d-flex justify-content-between align-items-center">
                        <div>
                            <i class="fa-solid fa-star"></i>
                            <span><%= details.vote_average %> </span>
                        </div>

                        <span>Popularity: <%= details.popularity %> </span>
                        <span>Vote count: <%= details.vote_count %> </span>

                    </div>
                </div>

                <div class="row mb-2 border-bottom border-light">
                    <p class="text-justify" id="show-description"><%= details.overview %> </p>
                </div>

                <div class="row">
                    <span class="mb-2 fs-5" id="add-to-list-title">Add to my list</span>
                    

                    <form name="addForm" action="<%= type == 'movie' ? `/user/list/movies/add/` : `/user/list/shows/add/` %>" method="post" class="d-flex flex-column aling-items-start gap-3">
                        <input type="hidden" name="id" value="<%= details.id %>">

                        <div class="form-gorup d-flex align-items-center gap-2">
                            <label for="score" class="">Score: </label>
                            <select name="score" id="score" class="">
                                <option value="1">1 (Appalling)</option>
                                <option value="2">2 (Horrible)</option>
                                <option value="3">3 (Very bad)</option>
                                <option value="4">4 (Bad)</option>
                                <option value="5">5 (Average)</option>
                                <option value="6">6 (Fine)</option>
                                <option value="7">7 (Good)</option>
                                <option value="8">8 (Very Good)</option>
                                <option value="9">9 (Great)</option>
                                <option value="10">10 (Masterpiece)</option>
                            </select>
                        </div>

                        <div class="form-group d-flex gap-2 align-items-center">
                            <input type="submit" value="Add">
                            <span id="errorSpan" class="text-danger"></span>
                            <span id="successSpan" class="text-success"></span>
                        </div>

                    </form>

                </div>

            </div>


        </div>


    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="/js/Ajax.js"></script>
    <script src="/js/addToListAjax.js"></script>
</body>
</html>