<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/30222b3036.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/homePage.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <title>Home</title>
</head>
<body>
    
    <header class="mb-4">
        <%- include('./templates/navigation') %> 
    </header>


    <main>

        <!-- <div class="card text-white">
            <img class="card-img" src="https://image.tmdb.org/t/p/original/jRXYjXNq0Cs2TcJjLkki24MLp7u.jpg" alt="">
            <div class="card-img-overlay p-0 d-flex flex-column justify-content-start gap-1">
                <div class="overlay-content p-2 fw-bold">
                    <span>Star wars: the last jedi</span>
                </div>
            </div>
        </div> -->

        <div class="top-rating-movies shows-container">
            <h3 class="ms-4 info-title">Top rated movies</h3>
            <div class="carousel-container d-flex align-items-center gap-1">
                <i class="top-rating-movies-prev control fa-solid fa-angle-left"></i>
                <div class="glider top-rating-movies-glider">
                 
                    <% topRatedMovies.forEach(movie => { %> 
                        <div class="card text-white">
                            <a href="<%= `/movie/details/${movie.id}` %>">
                                <img class="card-img" src="<%= `${posterPathUrl}/${movie.poster_path}` %>" alt="">
                            </a>
                        </div>
                    <% }) %>  
                
                </div>
                <i class="top-rating-movies-next control fa-solid fa-angle-right"></i>
            </div>
        </div>



        <div class="popularMovies shows-container">
            <h3 class="ms-4 info-title">Popular movies</h3>
            <div class="carousel-container d-flex align-items-center gap-1">
                <i class="popular-movies-prev control fa-solid fa-angle-left"></i>
                <div class="glider popular-movies-glider">

                    <% popularMovies.forEach(movie => { %> 
                        <div class="card text-white">
                            <a href="<%= `/movie/details/${movie.id}` %>">
                                <img class="card-img" src="<%= `${posterPathUrl}/${movie.poster_path}` %>" alt="">
                            </a>
                        </div>
                    <% }) %>    

                </div>
                <i class="popular-movies-next control fa-solid fa-angle-right"></i>
            </div>
        </div>




        <div class="top-rating-shows shows-container">
            <h3 class="ms-4 info-title">Top rated shows</h3>
            <div class="carousel-container d-flex align-items-center gap-1">
                <i class="top-rating-shows-prev control fa-solid fa-angle-left"></i>
                <div class="glider top-rating-shows-glider">

  

                    <% topRatedShows.forEach(show => { %> 
                        <div class="card text-white">
                            <a href="<%= `/show/details/${show.id}` %>">
                                <img class="card-img" src="<%= `${posterPathUrl}/${show.poster_path}` %>" alt="">
                            </a>
                        </div>
                    <% }) %>  

                    
                </div>
                <i class="top-rating-shows-next control fa-solid fa-angle-right"></i>
            </div>
        </div>

        

        <div class="popular-shows shows-container">
            <h3 class="ms-4 info-title">Popular shows</h3>
            <div class="carousel-container d-flex align-items-center gap-1">
                <i class="popular-shows-prev control fa-solid fa-angle-left"></i>
                <div class="glider popular-shows-glider">
                    <% popularShows.forEach(show => { %> 
                        <div class="card text-white">
                            <a href="<%= `/show/details/${show.id}` %>">
                                <img class="card-img" src="<%= `${posterPathUrl}/${show.poster_path}` %>" alt="">
                            </a>
                        </div>
                    <% }) %> 

                
                </div>
                <i class="popular-shows-next control fa-solid fa-angle-right"></i>
            </div>
        </div>  
    </main>

    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="/js/homePage.js"></script>
</body>
</html>