<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/30222b3036.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    <!-- <link rel="stylesheet" href="/css/global.css"> -->
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/detail.css">
    <!-- <link rel="stylesheet" href="/css/homePage.css"> -->
    <title>Details</title>
</head>
<body>
    <header class="mb-5">
        <%- include('../templates/navigation.ejs') %> 
    </header>

    <!-- <main>

        <div class="show-poster col-1 g-0 bg-danger">
            <img src="<%= `${posterPathUrl}/${movie.poster_path}` %>" alt="">
        </div>
        <h1>desgraça</h1>

    </main> -->

    <main class="bg d-flex flex-column align-items-center mx-auto mb-5">


        <div class="show-info-container row d-flex justify-content-center gap-3 py-4">
            <div class="show-poster col-1 g-0">
                <img src="<%= `${posterPathUrl}/${movie.posterPath}` %>" alt="">
            </div>

            <div class="col">

                <div class="row">
                    <div class="title-info d-flex justify-content-between align-items-center">
                        <h2><%= movie.title || movie.name || movie.original_title%> </h2>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="major-info-container p-3 d-flex flex-column">
                        <span>Popularity: <%= movie.popularity %> </span>
                        <span>Vote count: <%= movie.vote_count %> </span>

                    </div>
                </div>

                <div class="row mb-2 border-bottom border-light">
                    <p class="text-justify" id="show-description"><%= movie.overview %> </p>
                    <ol class="list-inline d-flex gap-2">
                        <% movie.genresId.forEach(genre => { %> 
                            <li class="list-inline-item text-secondary"><%= genre.name %></li>
                        <% }) %> 
                    </ol>
                </div>


                <div class="row">

                    <form name="addForm" action="/user/list/movies/update/" method="post" class="d-flex flex-column flex-sm-row aling-items-center gap-3  mt-2">
                        <input type="hidden" name="id" value="<%= movie.movieId %>">

                        <div class="form-group d-flex align-items-center d-flex flex-column">
                            <input type="submit" value="Update">
                        </div>

                        <div class="form-gorup d-flex align-items-center gap-2">
                            <label for="score" class="">Score: </label>
                            <select name="newScore" id="score" class="">
                                <option value="1">1 (Appalling)</option>
                                <option value="2">2 (Horrible)</option>
                                <option value="3">3 (Very bad)</option>
                                <option value="4">4 (Bad)</option>
                                <option value="5">5 (Average)</option>
                                <option value="6">6 (Fine)</option>
                                <option value="7">7 (Good)</option>
                                <option value="8">8 (Very Good)</option>
                                <option value="9">9 (Great)</option>
                                <option value="10">10 (Masterpiece)</option>
                            </select>
                            <span id="errorSpan" class="text-danger"></span>
                            <span id="successSpan" class="text-success"></span>
                        </div>


                    </form>

                </div>

            </div>


        </div>

    </main>

    <div class="mx-auto w-75 mb-5"> 
        <p class="fs-5">Cast</p>
        <div class="cast-container d-flex align-items-center gap-2">
            <i class="cast-prev fa-solid fa-angle-left"></i>
            <div class="cast-glider">

                <% cast.forEach(castItem => { %> 
                    <div class="cast-info d-flex flex-column align-items-center">

                        <% if(castItem.profile_path) { %> 
                            <img class="cast-picture" src="<%= `${posterPathUrl}/${castItem.profile_path}` %>" alt="">
                         <% } else { %>    
                            <img class="cast-picture" src="https://padletuploads.blob.core.windows.net/prod/338313757/xv9cNVhJOnCldshv-zjMjA/f41906143bc5eb004cac88418b2a97a7.jpeg" alt="">
                        <% } %> 

                        <small><%= castItem.original_name %></small>
                    </div>
                <% }) %> 


            </div>
            <i class="cast-next control fa-solid fa-angle-right"></i>

        </div>

    </div>


    
    <div class="mx-auto w-75 mb-3">
        <p class="fs-5">You may also like</p>

        <div class="similar-shows-container d-flex align-items-center gap-2">
            <i class="similar-shows-prev fa-solid fa-angle-left"></i>
            <div class="similar-shows-glider d-flex gap-2 w-100">

                <% recommendations.forEach(recommendation => { %> 

                    <div class="d-flex justify-content-center">
                        <% if(type == 'show') { %>

                            <% if(recommendation.poster_path) { %> 
                                <a href="<%= `/search/details/${recommendation.id}?type=show` %>">
                                    <img class="similar-movie-picture" src="<%= `${posterPathUrl}/${recommendation.poster_path}` %>" alt="">
                                </a>
                            <% } else { %> 
                                <a href="<%= `/search/details/${recommendation.id}?type=show` %>">
                                    <img class="similar-movie-picture" src="https://place-hold.it/170x250" alt="">
                                </a>
                            <% } %> 

                        <% } else { %> 
                            <% if(recommendation.poster_path) { %> 
                                <a href="<%= `/search/details/${recommendation.id}?type=movie` %>">
                                    <img class="similar-movie-picture" src="<%= `${posterPathUrl}/${recommendation.poster_path}` %>" alt="">
                                </a>
                            <% } else { %> 
                                <a href="<%= `/search/details/${recommendation.id}?type=movie` %>">
                                    <img class="similar-movie-picture" src="https://place-hold.it/170x250" alt="">
                                </a>
                            <% } %> 
                        <% } %> 
                    </div>

                <% }) %> 

    
                
            </div>
            <i class="similar-shows-next control fa-solid fa-angle-right"></i>
        </div>

    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="/js/detailsPage.js"></script>
    <script src="/js/Ajax.js"></script>
    <script src="/js/addToListAjax.js"></script>
</body>
</html>